body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
h2 {
  text-align: center;
}
table {
  width: 100%;
  border-spacing: 0;
  tr,
  th {
    margin: 0;
    padding: 0.3em;
    border-bottom: 2px solid #333;
    text-align: center;
  }
  tr,
  td {
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid #aaa;
    text-align: center;
  }
  span {
    width: 2.5em;
    text-align: center;
    display: inline-block;
  }
}
button {
  background-color: #fff;
  border: 1px solid #aaa;
  // padding: 0.5em 1em;
  border-radius: 50px;
  &:hover {
    background-color: #eee;
  }
}
.btn2 {
  display: flex;
  justify-content: center;
  button {
    margin: 0 10px;
    padding: 0.5em 1em;
    border-radius: 10px;
  }
}
.editArea {
  color: #333;
  list-style: none;
  margin: 10px;
  padding: 20px;
  // background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 10px;
  li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    // border-bottom: 1px solid #aaa;
    span {
      padding-left: 20px;
    }
    input {
      padding: 0.5em 0.8em;
      border: 1px solid #aaa;
    }
  }
}
.editBg {
  content: '';
  position: fixed;
  top: -15%;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 120%;
  background: rgba($color: #000000, $alpha: 0.5);
}
.editBox {
  position: fixed;
  top: 15%;
  left: calc(50% - 25%);
  z-index: 99;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #555;
}
